<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="Local Godot" value="..\godot-tscn-parser\src\GodotTscnParser\GodotTscnParser.Engine\bin\Release" />
  </packageSources>
</configuration>
